<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">

      <h1>Bucket Summary Listing </h1>
      <form class="form-horizontal">
        <div class="form-group"><label for="inputContents" class="col-sm-3 control-label">access_key_id</label>
          <div class="col-sm-7"><input type="text" class="form-control" name="access_key_id" [(ngModel)]="loginModel.access_key_id" id="loginModel.access_key_id"
              placeholder="access_key_id"></div>
        </div>
        <div class="form-group"><label for="inputContents" class="col-sm-3 control-label">secret_access_key</label>
          <div class="col-sm-7"><input type="text" class="form-control" name="secret_access_key" [(ngModel)]="loginModel.secret_access_key" id="loginModel.secret_access_key"
              placeholder="secret_access_key"></div>
        </div>
        <div class="form-group">
          <label class="col-sm-3" for="submit"></label>
          <div class="col-sm-offset-3 col-sm-5">
            <button type="submit" class="btn btn-success" (click)="submitRequest()">Submit</button>
            <a [routerLink]="['/index']" class="btn btn-primary col-sm-offset-1">Back</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="progress" *ngIf="inProgress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="percentComplete" aria-valuemin="0"
          aria-valuemax="100" [style.width]="percentComplete+'%'"> Requesting Information... </div>
      </div>
      <div class="progress" *ngIf="isSuccess">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="percentComplete" aria-valuemin="0" aria-valuemax="100"
          [style.width]="percentComplete+'%'"> Done! </div>
      </div>
      <div class="progress" *ngIf="isFailed">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="percentComplete" aria-valuemin="0" aria-valuemax="100"
          [style.width]="percentComplete+'%'"> Error! </div>
      </div>
    </div>
    <div class="col-sm-12" *ngIf="isSuccess">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>
                Bucket Name
              </td>
              <td>
                Creation Date
              </td>
              <td>
                Last Modified
              </td>
              <td>
                Number of Files
              </td>
              <td>
                Total Size of Files
              </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let resp of result">
              <td>
                {{resp.bucket_name}}
              </td>
              <td>
                {{resp.creation_date}}
              </td>
              <td>
                {{resp.last_modified}}
              </td>
              <td>
                {{resp.number_of_files}}
              </td>
              <td>
                {{resp.total_size_of_files}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>